.contact_us_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  padding-bottom: 30px;
  position: relative;
}
.contact_us_wrapper .left {
  width: 40%;
  text-align: center;
}

.contact_us_wrapper .left img {
  width: 55%;
}
input {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
input[type="submit"] {
  background-color: #1b144e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 30%;
}
@media screen and (max-width: 1035px) {
  .contact_us_wrapper {
    padding: 0 30px;
  }
  .contact_us_wrapper .right p br {
    display: none;
  }
  .contact_us_wrapper .left {
    width: 50%;
  }
  .contact_us_wrapper .right {
    width: 50%;
  }
  input[type="submit"] {
    width: 180px;
    margin-bottom: 30px;
  }
  .contact_us_wrapper .left img {
    width: 70%;
  }
}

@media screen and (max-width: 785px) {
  .contact_us_wrapper {
    flex-direction: column;
  }
  .contact_us_wrapper .left {
    width: 100%;
  }
  .contact_us_wrapper .right {
    width: 100%;
    margin-top: 40px;
  }
}
