.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  background-image: url("../images/c3.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 30% 100%;
  position: relative;
}
.features h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #1d1752;
  padding-bottom: 20px;
  text-align: center;
}
.features p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
}
.features img {
  width: 60%;
}
.available_on {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d1752;
  max-height: 300px;
  position: relative;
  margin-top: 180px;
  margin-bottom: 230px;
}
.available_on .hd_availble h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #8cc640;
  text-align: center;
}
.available_on .hd_app_store h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  color: #ffffff;
  text-align: center;
}
.available_on .paragraph p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}
.available_on .left {
  text-align: right;
}

.available_on .right img {
  width: 50%;
}
.available_on .icon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.available_on .icon img {
  width: 9%;
  margin-left: 10px;
}
@media screen and (max-width: 1500px) {
  .available_on {
    margin-top: 140px;
    margin-bottom: 190px;

  }
}
@media screen and (max-width: 1250px) {
  .available_on {
    margin-top: 100px;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 1100px) {
  .available_on {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 925px) {
  .available_on .right img {
    width: 60%;
  }
  .available_on {
    margin-top: 70px;
    margin-bottom: 120px;
  }
  .features{
    padding-left: 30px;
    padding-right: 30px;
  }
  .features br{
    display: none;
  }
}
@media screen and (max-width: 785px) {
  .available_on .right{
   display: none;
  }
  .available_on .left{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
  .available_on .left .paragraph {
    text-align: center;
    padding-top: 15px;
  }
  .available_on .left .paragraph br{
    display: none;
  }
  .available_on .left .icon{
    display: flex;
    align-items: center;
     justify-content: center;
     padding-top: 10px;
  }
}
@media screen and (max-width: 700px) {
  .available_on{
    max-height: 570px;
  }
  .available_on .icon img{
    width: 20%;
  }
}
