.getapp_above {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9faff;
  padding: 30px 0;
  position: relative;

  background-image: url("../images/c2_r.png");
  background-repeat: no-repeat;
  background-position: 1400px 0px;
  background-size: 40% 400px;
  position: relative;
}
.getapp_wrapper .getapp_above .c2_l {
  position: absolute;
  left: -250px;
  top: -300px;
}
.getapp_wrapper .getapp_above .c2_l img {
  width: 60%;
}
.getapp_above h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}
.getapp_above p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
}
.getapp_above .getapp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.getapp_above .getapp img {
  width: 30%;
  padding: 0px 20px 0 20px;
}
.getapp_below {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.getapp_below p {
  margin: 20px 0;
}
.getapp_below img {
  width: 15%;
  margin-top: 20px;
}
.all_right-reserve {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 30px 100px;
 }
.all_right-reserve .social_icons {
  display: flex;
  width: 13%;
  justify-content: space-evenly;
}
.social_icons .icon {
  margin: 7px;
}
.right_reserve p{
  margin-top: 15px;
}
.hrzental{
  display: flex;
  align-items: center;
  justify-content: center;
}
hr.hrz{
  width: 90%;
}
@media screen and (max-width: 680px) {
  .getapp_above {
    padding: 30px 30px;
  }
  .getapp_above br {
    display: none;
  }
  .getapp_below {
    padding: 30px 30px;
    text-align: center;
  }
  .getapp_below br {
    display: none;
  }
  .getapp_below img {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .getapp_above .getapp {
    margin-top: 10px;
    flex-direction: column;
  }
  .getapp_above .getapp img {
    width: 40%;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .getapp_above .getapp img {
    width: 50%;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  .getapp_above h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
  }
}
@media screen and (max-width: 505px) {
.all_right-reserve{
  flex-direction: column;
  align-items: center;
  text-align: center;
 }
 .all_right-reserve .icon{
  font-size: 25px;
  margin: 0px 20px;
 }
}

