.getapp_above {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9faff;
  padding: 30px 0;
}
.getapp_above h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}
.getapp_above p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
}
.getapp_above .getapp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.getapp_above .getapp img {
  width: 30%;
  padding: 0px 20px 0 20px;
}
.getapp_below{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.getapp_below p{
    margin: 20px 0;
}
.getapp_below img{
    width: 15%;
    margin-top: 20px;
}
.all_right-reserve {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 100px 30px 100px;
}
.all_right-reserve .social_icons{
    display: flex;
     width: 13%;
    justify-content: space-evenly;
}
 