.nav_wrapper .nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  background-color: white;
  position: relative;
}

.nav_wrapper .logo img {
  width: 50%;
}
.nav_pages {
  /* border: 1px solid black; */
  /* border: 1px solid black; */
}
.nav_wrapper .nav_pages1 ul {
  display: flex;
  align-items: center;
  margin: 0;
  
}
.nav_wrapper .nav_pages1 li {
  list-style-type: none;
  padding: 7px 25px;
  cursor: pointer; 
}
.nav_wrapper .nav_pages1 li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #1d1752;
}
.nav_wrapper .get_app {
  /* border: 1px solid black; */
  text-align: center;
  color: #1d1752;
  border-radius: 30px;
}
.nav_wrapper .nav_bar .hamburger {
  display: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 30px;
}
.nav_wrapper .nav_bar .hamburger :hover {
  color: #2642af;
}

/* responsive nav bar */
.nav_bar_resp {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: flex-start; */
  height: 100vh;
}
.nav_bar_resp .nav_pages ul {
  flex-direction: column;
  align-items: flex-start;
  /* width: 100%; */
  margin-top: 30px;
}
.nav_bar_resp .nav_pages li {
  padding: 0px 0px;
  margin: 0px 0px;
  list-style: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #1d1752;
}
.nav_bar_resp .logo img {
  width: 170px;
  /* border: 1px solid black; */
}
.nav_bar_resp .logo,
.menue_hd {
  margin-top: 40px;
  text-align: center;
}
.nav_bar_resp .menue_hd h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: #8cc640;
}

.nav_pages hr.hrz {
  height: 3px;
  border-color: Navy	;
}
.nav_social_icons {
  display: flex;  
  justify-content: space-between;
  margin-top: 35px;
   margin-right: 75px;
  padding: 0px 30px;
  font-size: 25px;
  color: #8cc640;
}
@media screen and (max-width: 1080px) {
  .nav_wrapper .nav_bar .hamburger {
    display: block;
  }
  .nav_wrapper .nav_pages1 ul li {
    display: none;
  }
  /* .nav_pages ul {
    position: absolute;
    top: 85px;
    left: 0;
    flex-direction: column;
    width: 100%;

    background-color: white;
    border-top: 1px solid black;
  }
  .nav_pages li {
    text-align: center;
    margin: 0;
  }
  .nav_pages li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .nav_pages li:hover {
    background-color: #eee;
  } */
}

@media screen and (max-width: 1156px) {
  .nav_wrapper .nav_pages1 li a {
    padding: 7px 2px;
    white-space: nowrap;
  }
  .nav_wrapper .nav_bar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav_wrapper .logo img {
    width: 150px;
  }
}
