.why_galaxy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  position: relative;
}
.why_galaxy_left {
  /* border: 1px solid black; */
  margin-left: 30px;
}
.why_galaxy_right {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}
img {
  width: 30%;
}

.why_galaxy_left .heading h3 {
  font-size: 32px;
  font-weight: bolder;
  line-height: 39px;
  color: #1d1752;
}

.why_galaxy_left .paragraph p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #1b144e;
}
.explainer_vedio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
  margin-bottom: 30px;
  position: relative;
  z-index: 900;
}
.vedio_sec {
  height: 50vh;
  width: 65%;
  background: #d9d9d9;
  border-radius: 20px;
}
.explainer_vedio .heading h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #1d1752;
}
.vedio_sec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vedio_sec img {
  width: 8%;
}

.explainer_vedio .bg_c2_l {
  position: absolute;
  /* border: 1px solid black; */
  overflow: hidden;
  width: 400px;
  height: 400px;
  z-index: -900;
  top: -90px;
  left: 130px;
}
/* .explainer_vedio .bg_c2_l img {
  width: 100%;
} */
.explainer_vedio .bg_c2_r {
  /* border: 1px solid black; */
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: -900;
  right: 130px;
  bottom: -90px;
  overflow: hidden;
}
/* .explainer_vedio .bg_c2_r img {
  width: 100%;
 } */
@media screen and (max-width: 767px) {
  .why_galaxy_left .paragraph br {
    display: none;
  }
}
@media screen and (max-width: 708px) {
  .why_galaxy {
    flex-direction: column;
    padding: 30px 30px;
  }
  .why_galaxy img {
    width: 60%;
    margin-top: 30px;
  }
  .why_galaxy .paragraph br {
  }
}

/* ----------------------- */

@media screen and (max-width: 1680px) {
  .explainer_vedio .bg_c2_l {
    left: 90px;
  }
  .explainer_vedio .bg_c2_r {
    right: 90px;
  }
}
@media screen and (max-width: 1500px) {
  .explainer_vedio .bg_c2_l {
    left: 70px;
  }
  .explainer_vedio .bg_c2_r {
    right: 70px;
  }
}
@media screen and (max-width: 1340px) {
  .explainer_vedio .bg_c2_l {
    left: 40px;
  }
  .explainer_vedio .bg_c2_r {
    right: 40px;
  }
}
@media screen and (max-width: 1190px) {
  .explainer_vedio .bg_c2_l {
    left: 20px;
  }
  .explainer_vedio .bg_c2_r {
    right: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .explainer_vedio .bg_c2_l {
    left: 0px;
  }
  .explainer_vedio .bg_c2_r {
    right: 0px;
  }
}
@media screen and (max-width: 924px) {
  .explainer_vedio .bg_c2_l {
    top: -30px;
    left: 20px;
    width: 300px;
    height: 300px;
  }
  .explainer_vedio .bg_c2_r {
    bottom: -40px;
    right: 20px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 825px) {
  .explainer_vedio .bg_c2_l {
    top: -25px;
    left: 15px;
  }
  .explainer_vedio .bg_c2_r {
    bottom: -55px;
    right: 10px;
  }
}
@media screen and (max-width: 746px) {
  .explainer_vedio .bg_c2_l {
    top: -25px;
    left: 0px;
  }
  .explainer_vedio .bg_c2_r {
    bottom: -55px;
    right: 0px;
  }
}
@media screen and (max-width: 615px) {
  .vedio_sec {
    height: 40vh;
  }
  .explainer_vedio .bg_c2_l {
    top: -20px;
    left: 0px;
    width: 250px;
    height: 250px;
  }
  .explainer_vedio .bg_c2_r {
    bottom: -40px;
    right: 0px;
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 515px) {
  .explainer_vedio .bg_c2_l {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
  }
  .explainer_vedio .bg_c2_r {
    bottom: -10px;
    right: 0px;
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 425px) {
  .explainer_vedio .bg_c2_l {
    top: 30px;
    left: 0px;
    width: 150px;
    height: 150px;
  }
  .explainer_vedio .bg_c2_r {
    bottom: 10px;
    right: 0px;
    width: 150px;
    height: 150px;
  }
}
