@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* .paragraph p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
.primary_hd h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: #1d1752;
}
.secondary_hd h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  color: #1d1752;
} */
